.App {
  background-color: #d9f0fd;
  height: 1000vh;
}

.search-bar {
  text-align: center;
  font-family: Georgia, serif;
  font-style: bold;
  background-color: #d9f0fd;
  font-weight: bold;
  color: black;
  margin-bottom: 5%;
}
.resultFrame {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* border: solid green; */
}
.mainResult {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-content: stretch;
  margin-bottom: 5%;
  /* border: solid red; */
}
.paintFrame {
  display: flex;
  align-items: stretch;
  /* border: dotted brown; */
  flex-basis: 25%;
}

.infoBox {
  display: inline-block;
  text-align: start;
  font-family: Candara;
  font-size: large;
  list-style-type: none;
}

.colorPal {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-basis: 75%;
  /* border: dotted black; */
}

.colorElement {
  justify-content: space-evenly;
  padding: 1vh;
  flex-basis: 100%;
}

.forecastHeader {
  font-family: Candara;
  font-size: medium;
  flex-basis: 100%;
}
.forecastFrame {
  display: flex;
  align-items: center;
  align-content: stretch;
  flex-direction: column;
  /* border: solid blueviolet; */
}
.forecastPal {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-basis: 100%;
  /* border: solid goldenrod; */
}

li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
